Esercitazioni/Web_Service/WeatherClient/xml-resources/web-service-references/WeatherForecast/wsdl/asus-tuf-a16_8080/WeatherWS/WeatherForecast.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><xs:schema xmlns:tns="http://weather/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://weather/">

<xs:element name="weather_forecast" type="tns:weather_forecast"/>

<xs:element name="weather_forecastResponse" type="tns:weather_forecastResponse"/>

<xs:complexType name="weather_forecast">
<xs:sequence>
<xs:element name="forecast_place" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="weather_forecastResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>