Prove_Esame/Calcio/CalcioWebClient/xml-resources/web-service-references/CalcioEJB/wsdl/CalcioEJB.xml.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calcio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calcio/" name="CalcioWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://calcio/" schemaLocation="http://asus-tuf-a16:8080/CalcioWebService/CalcioEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="aggiornaSquadra">
<part name="parameters" element="tns:aggiornaSquadra"/>
</message>
<message name="aggiornaSquadraResponse">
<part name="parameters" element="tns:aggiornaSquadraResponse"/>
</message>
<message name="salvaSquadra">
<part name="parameters" element="tns:salvaSquadra"/>
</message>
<message name="salvaSquadraResponse">
<part name="parameters" element="tns:salvaSquadraResponse"/>
</message>
<message name="eliminaSquadra">
<part name="parameters" element="tns:eliminaSquadra"/>
</message>
<message name="eliminaSquadraResponse">
<part name="parameters" element="tns:eliminaSquadraResponse"/>
</message>
<message name="squadraMigliore">
<part name="parameters" element="tns:squadraMigliore"/>
</message>
<message name="squadraMiglioreResponse">
<part name="parameters" element="tns:squadraMiglioreResponse"/>
</message>
<message name="getSquadreByNazione">
<part name="parameters" element="tns:getSquadreByNazione"/>
</message>
<message name="getSquadreByNazioneResponse">
<part name="parameters" element="tns:getSquadreByNazioneResponse"/>
</message>
<message name="squadraConAttaccoMiglioreDi">
<part name="parameters" element="tns:squadraConAttaccoMiglioreDi"/>
</message>
<message name="squadraConAttaccoMiglioreDiResponse">
<part name="parameters" element="tns:squadraConAttaccoMiglioreDiResponse"/>
</message>
<message name="getSquadra">
<part name="parameters" element="tns:getSquadra"/>
</message>
<message name="getSquadraResponse">
<part name="parameters" element="tns:getSquadraResponse"/>
</message>
<portType name="CalcioEJB">
<operation name="aggiornaSquadra">
<input wsam:Action="http://calcio/CalcioEJB/aggiornaSquadraRequest" message="tns:aggiornaSquadra"/>
<output wsam:Action="http://calcio/CalcioEJB/aggiornaSquadraResponse" message="tns:aggiornaSquadraResponse"/>
</operation>
<operation name="salvaSquadra">
<input wsam:Action="http://calcio/CalcioEJB/salvaSquadraRequest" message="tns:salvaSquadra"/>
<output wsam:Action="http://calcio/CalcioEJB/salvaSquadraResponse" message="tns:salvaSquadraResponse"/>
</operation>
<operation name="eliminaSquadra">
<input wsam:Action="http://calcio/CalcioEJB/eliminaSquadraRequest" message="tns:eliminaSquadra"/>
<output wsam:Action="http://calcio/CalcioEJB/eliminaSquadraResponse" message="tns:eliminaSquadraResponse"/>
</operation>
<operation name="squadraMigliore">
<input wsam:Action="http://calcio/CalcioEJB/squadraMiglioreRequest" message="tns:squadraMigliore"/>
<output wsam:Action="http://calcio/CalcioEJB/squadraMiglioreResponse" message="tns:squadraMiglioreResponse"/>
</operation>
<operation name="getSquadreByNazione">
<input wsam:Action="http://calcio/CalcioEJB/getSquadreByNazioneRequest" message="tns:getSquadreByNazione"/>
<output wsam:Action="http://calcio/CalcioEJB/getSquadreByNazioneResponse" message="tns:getSquadreByNazioneResponse"/>
</operation>
<operation name="squadraConAttaccoMiglioreDi">
<input wsam:Action="http://calcio/CalcioEJB/squadraConAttaccoMiglioreDiRequest" message="tns:squadraConAttaccoMiglioreDi"/>
<output wsam:Action="http://calcio/CalcioEJB/squadraConAttaccoMiglioreDiResponse" message="tns:squadraConAttaccoMiglioreDiResponse"/>
</operation>
<operation name="getSquadra">
<input wsam:Action="http://calcio/CalcioEJB/getSquadraRequest" message="tns:getSquadra"/>
<output wsam:Action="http://calcio/CalcioEJB/getSquadraResponse" message="tns:getSquadraResponse"/>
</operation>
</portType>
<binding name="CalcioEJBPortBinding" type="tns:CalcioEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="aggiornaSquadra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvaSquadra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaSquadra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="squadraMigliore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSquadreByNazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="squadraConAttaccoMiglioreDi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSquadra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalcioWebService">
<port name="CalcioEJBPort" binding="tns:CalcioEJBPortBinding">
<soap:address location="http://asus-tuf-a16:8080/CalcioWebService/CalcioEJB"/>
</port>
</service>
</definitions>