Prove_Esame/Cinema/CinemaWebClient/src/META-INF/wsdl/CinemaEJB.xml.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cinema/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cinema/" name="CinemaWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cinema/" schemaLocation="http://asus-tuf-a16:8080/CinemaWebService/CinemaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="filmConRatingMaggioreDi8">
<part name="parameters" element="tns:filmConRatingMaggioreDi8"/>
</message>
<message name="filmConRatingMaggioreDi8Response">
<part name="parameters" element="tns:filmConRatingMaggioreDi8Response"/>
</message>
<message name="salvaFilm">
<part name="parameters" element="tns:salvaFilm"/>
</message>
<message name="salvaFilmResponse">
<part name="parameters" element="tns:salvaFilmResponse"/>
</message>
<message name="findByID">
<part name="parameters" element="tns:findByID"/>
</message>
<message name="findByIDResponse">
<part name="parameters" element="tns:findByIDResponse"/>
</message>
<message name="aggiornaFilm">
<part name="parameters" element="tns:aggiornaFilm"/>
</message>
<message name="aggiornaFilmResponse">
<part name="parameters" element="tns:aggiornaFilmResponse"/>
</message>
<message name="cercaPerRating">
<part name="parameters" element="tns:cercaPerRating"/>
</message>
<message name="cercaPerRatingResponse">
<part name="parameters" element="tns:cercaPerRatingResponse"/>
</message>
<message name="cancellaFilm">
<part name="parameters" element="tns:cancellaFilm"/>
</message>
<message name="cancellaFilmResponse">
<part name="parameters" element="tns:cancellaFilmResponse"/>
</message>
<message name="cercaPerAnno">
<part name="parameters" element="tns:cercaPerAnno"/>
</message>
<message name="cercaPerAnnoResponse">
<part name="parameters" element="tns:cercaPerAnnoResponse"/>
</message>
<portType name="CinemaEJB">
<operation name="filmConRatingMaggioreDi8">
<input wsam:Action="http://cinema/CinemaEJB/filmConRatingMaggioreDi8Request" message="tns:filmConRatingMaggioreDi8"/>
<output wsam:Action="http://cinema/CinemaEJB/filmConRatingMaggioreDi8Response" message="tns:filmConRatingMaggioreDi8Response"/>
</operation>
<operation name="salvaFilm">
<input wsam:Action="http://cinema/CinemaEJB/salvaFilmRequest" message="tns:salvaFilm"/>
<output wsam:Action="http://cinema/CinemaEJB/salvaFilmResponse" message="tns:salvaFilmResponse"/>
</operation>
<operation name="findByID">
<input wsam:Action="http://cinema/CinemaEJB/findByIDRequest" message="tns:findByID"/>
<output wsam:Action="http://cinema/CinemaEJB/findByIDResponse" message="tns:findByIDResponse"/>
</operation>
<operation name="aggiornaFilm">
<input wsam:Action="http://cinema/CinemaEJB/aggiornaFilmRequest" message="tns:aggiornaFilm"/>
<output wsam:Action="http://cinema/CinemaEJB/aggiornaFilmResponse" message="tns:aggiornaFilmResponse"/>
</operation>
<operation name="cercaPerRating">
<input wsam:Action="http://cinema/CinemaEJB/cercaPerRatingRequest" message="tns:cercaPerRating"/>
<output wsam:Action="http://cinema/CinemaEJB/cercaPerRatingResponse" message="tns:cercaPerRatingResponse"/>
</operation>
<operation name="cancellaFilm">
<input wsam:Action="http://cinema/CinemaEJB/cancellaFilmRequest" message="tns:cancellaFilm"/>
<output wsam:Action="http://cinema/CinemaEJB/cancellaFilmResponse" message="tns:cancellaFilmResponse"/>
</operation>
<operation name="cercaPerAnno">
<input wsam:Action="http://cinema/CinemaEJB/cercaPerAnnoRequest" message="tns:cercaPerAnno"/>
<output wsam:Action="http://cinema/CinemaEJB/cercaPerAnnoResponse" message="tns:cercaPerAnnoResponse"/>
</operation>
</portType>
<binding name="CinemaEJBPortBinding" type="tns:CinemaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="filmConRatingMaggioreDi8">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvaFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerRating">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancellaFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerAnno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CinemaWebService">
<port name="CinemaEJBPort" binding="tns:CinemaEJBPortBinding">
<soap:address location="http://asus-tuf-a16:8080/CinemaWebService/CinemaEJB"/>
</port>
</service>
</definitions>