Prove_Esame/Sanremo/SanremoWebClient/xml-resources/web-service-references/CanzoneEJB/wsdl/CanzoneEJB.xml.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://canzone/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://canzone/" name="SanremoWEBService">
<types>
<xsd:schema>
<xsd:import namespace="http://canzone/" schemaLocation="http://asus-tuf-a16:8080/SanremoWEBService/CanzoneEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="modificaVoti">
<part name="parameters" element="tns:modificaVoti"/>
</message>
<message name="modificaVotiResponse">
<part name="parameters" element="tns:modificaVotiResponse"/>
</message>
<message name="cercaPerVoto">
<part name="parameters" element="tns:cercaPerVoto"/>
</message>
<message name="cercaPerVotoResponse">
<part name="parameters" element="tns:cercaPerVotoResponse"/>
</message>
<message name="creaCanzone">
<part name="parameters" element="tns:creaCanzone"/>
</message>
<message name="creaCanzoneResponse">
<part name="parameters" element="tns:creaCanzoneResponse"/>
</message>
<message name="cercaPerAutore">
<part name="parameters" element="tns:cercaPerAutore"/>
</message>
<message name="cercaPerAutoreResponse">
<part name="parameters" element="tns:cercaPerAutoreResponse"/>
</message>
<message name="rimuoviCanzone">
<part name="parameters" element="tns:rimuoviCanzone"/>
</message>
<message name="rimuoviCanzoneResponse">
<part name="parameters" element="tns:rimuoviCanzoneResponse"/>
</message>
<message name="cercaPerCategoria">
<part name="parameters" element="tns:cercaPerCategoria"/>
</message>
<message name="cercaPerCategoriaResponse">
<part name="parameters" element="tns:cercaPerCategoriaResponse"/>
</message>
<message name="aggiornaCanzone">
<part name="parameters" element="tns:aggiornaCanzone"/>
</message>
<message name="aggiornaCanzoneResponse">
<part name="parameters" element="tns:aggiornaCanzoneResponse"/>
</message>
<message name="cercaTutti">
<part name="parameters" element="tns:cercaTutti"/>
</message>
<message name="cercaTuttiResponse">
<part name="parameters" element="tns:cercaTuttiResponse"/>
</message>
<message name="cercaPerID">
<part name="parameters" element="tns:cercaPerID"/>
</message>
<message name="cercaPerIDResponse">
<part name="parameters" element="tns:cercaPerIDResponse"/>
</message>
<portType name="CanzoneEJB">
<operation name="modificaVoti">
<input wsam:Action="http://canzone/CanzoneEJB/modificaVotiRequest" message="tns:modificaVoti"/>
<output wsam:Action="http://canzone/CanzoneEJB/modificaVotiResponse" message="tns:modificaVotiResponse"/>
</operation>
<operation name="cercaPerVoto">
<input wsam:Action="http://canzone/CanzoneEJB/cercaPerVotoRequest" message="tns:cercaPerVoto"/>
<output wsam:Action="http://canzone/CanzoneEJB/cercaPerVotoResponse" message="tns:cercaPerVotoResponse"/>
</operation>
<operation name="creaCanzone">
<input wsam:Action="http://canzone/CanzoneEJB/creaCanzoneRequest" message="tns:creaCanzone"/>
<output wsam:Action="http://canzone/CanzoneEJB/creaCanzoneResponse" message="tns:creaCanzoneResponse"/>
</operation>
<operation name="cercaPerAutore">
<input wsam:Action="http://canzone/CanzoneEJB/cercaPerAutoreRequest" message="tns:cercaPerAutore"/>
<output wsam:Action="http://canzone/CanzoneEJB/cercaPerAutoreResponse" message="tns:cercaPerAutoreResponse"/>
</operation>
<operation name="rimuoviCanzone">
<input wsam:Action="http://canzone/CanzoneEJB/rimuoviCanzoneRequest" message="tns:rimuoviCanzone"/>
<output wsam:Action="http://canzone/CanzoneEJB/rimuoviCanzoneResponse" message="tns:rimuoviCanzoneResponse"/>
</operation>
<operation name="cercaPerCategoria">
<input wsam:Action="http://canzone/CanzoneEJB/cercaPerCategoriaRequest" message="tns:cercaPerCategoria"/>
<output wsam:Action="http://canzone/CanzoneEJB/cercaPerCategoriaResponse" message="tns:cercaPerCategoriaResponse"/>
</operation>
<operation name="aggiornaCanzone">
<input wsam:Action="http://canzone/CanzoneEJB/aggiornaCanzoneRequest" message="tns:aggiornaCanzone"/>
<output wsam:Action="http://canzone/CanzoneEJB/aggiornaCanzoneResponse" message="tns:aggiornaCanzoneResponse"/>
</operation>
<operation name="cercaTutti">
<input wsam:Action="http://canzone/CanzoneEJB/cercaTuttiRequest" message="tns:cercaTutti"/>
<output wsam:Action="http://canzone/CanzoneEJB/cercaTuttiResponse" message="tns:cercaTuttiResponse"/>
</operation>
<operation name="cercaPerID">
<input wsam:Action="http://canzone/CanzoneEJB/cercaPerIDRequest" message="tns:cercaPerID"/>
<output wsam:Action="http://canzone/CanzoneEJB/cercaPerIDResponse" message="tns:cercaPerIDResponse"/>
</operation>
</portType>
<binding name="CanzoneEJBPortBinding" type="tns:CanzoneEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificaVoti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerVoto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerAutore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rimuoviCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaTutti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SanremoWEBService">
<port name="CanzoneEJBPort" binding="tns:CanzoneEJBPortBinding">
<soap:address location="http://asus-tuf-a16:8080/SanremoWEBService/CanzoneEJB"/>
</port>
</service>
</definitions>