Prove_Esame/Enoteca/EnotecaWebClient/src/META-INF/wsdl/VinoEJB.xml.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vino/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://vino/" name="VinoWEBService">
<types>
<xsd:schema>
<xsd:import namespace="http://vino/" schemaLocation="http://asus-tuf-a16:8080/VinoWEBService/VinoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="cercaChampagne">
<part name="parameters" element="tns:cercaChampagne"/>
</message>
<message name="cercaChampagneResponse">
<part name="parameters" element="tns:cercaChampagneResponse"/>
</message>
<message name="creaVino">
<part name="parameters" element="tns:creaVino"/>
</message>
<message name="creaVinoResponse">
<part name="parameters" element="tns:creaVinoResponse"/>
</message>
<message name="cercaTutti">
<part name="parameters" element="tns:cercaTutti"/>
</message>
<message name="cercaTuttiResponse">
<part name="parameters" element="tns:cercaTuttiResponse"/>
</message>
<message name="cercaPerID">
<part name="parameters" element="tns:cercaPerID"/>
</message>
<message name="cercaPerIDResponse">
<part name="parameters" element="tns:cercaPerIDResponse"/>
</message>
<message name="cercaPerProvenienza">
<part name="parameters" element="tns:cercaPerProvenienza"/>
</message>
<message name="cercaPerProvenienzaResponse">
<part name="parameters" element="tns:cercaPerProvenienzaResponse"/>
</message>
<message name="eliminaVino">
<part name="parameters" element="tns:eliminaVino"/>
</message>
<message name="eliminaVinoResponse">
<part name="parameters" element="tns:eliminaVinoResponse"/>
</message>
<message name="aggiornaVino">
<part name="parameters" element="tns:aggiornaVino"/>
</message>
<message name="aggiornaVinoResponse">
<part name="parameters" element="tns:aggiornaVinoResponse"/>
</message>
<message name="cercaPerPrezzo">
<part name="parameters" element="tns:cercaPerPrezzo"/>
</message>
<message name="cercaPerPrezzoResponse">
<part name="parameters" element="tns:cercaPerPrezzoResponse"/>
</message>
<portType name="VinoEJB">
<operation name="cercaChampagne">
<input wsam:Action="http://vino/VinoEJB/cercaChampagneRequest" message="tns:cercaChampagne"/>
<output wsam:Action="http://vino/VinoEJB/cercaChampagneResponse" message="tns:cercaChampagneResponse"/>
</operation>
<operation name="creaVino">
<input wsam:Action="http://vino/VinoEJB/creaVinoRequest" message="tns:creaVino"/>
<output wsam:Action="http://vino/VinoEJB/creaVinoResponse" message="tns:creaVinoResponse"/>
</operation>
<operation name="cercaTutti">
<input wsam:Action="http://vino/VinoEJB/cercaTuttiRequest" message="tns:cercaTutti"/>
<output wsam:Action="http://vino/VinoEJB/cercaTuttiResponse" message="tns:cercaTuttiResponse"/>
</operation>
<operation name="cercaPerID">
<input wsam:Action="http://vino/VinoEJB/cercaPerIDRequest" message="tns:cercaPerID"/>
<output wsam:Action="http://vino/VinoEJB/cercaPerIDResponse" message="tns:cercaPerIDResponse"/>
</operation>
<operation name="cercaPerProvenienza">
<input wsam:Action="http://vino/VinoEJB/cercaPerProvenienzaRequest" message="tns:cercaPerProvenienza"/>
<output wsam:Action="http://vino/VinoEJB/cercaPerProvenienzaResponse" message="tns:cercaPerProvenienzaResponse"/>
</operation>
<operation name="eliminaVino">
<input wsam:Action="http://vino/VinoEJB/eliminaVinoRequest" message="tns:eliminaVino"/>
<output wsam:Action="http://vino/VinoEJB/eliminaVinoResponse" message="tns:eliminaVinoResponse"/>
</operation>
<operation name="aggiornaVino">
<input wsam:Action="http://vino/VinoEJB/aggiornaVinoRequest" message="tns:aggiornaVino"/>
<output wsam:Action="http://vino/VinoEJB/aggiornaVinoResponse" message="tns:aggiornaVinoResponse"/>
</operation>
<operation name="cercaPerPrezzo">
<input wsam:Action="http://vino/VinoEJB/cercaPerPrezzoRequest" message="tns:cercaPerPrezzo"/>
<output wsam:Action="http://vino/VinoEJB/cercaPerPrezzoResponse" message="tns:cercaPerPrezzoResponse"/>
</operation>
</portType>
<binding name="VinoEJBPortBinding" type="tns:VinoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cercaChampagne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaVino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaTutti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerProvenienza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaVino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaVino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerPrezzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VinoWEBService">
<port name="VinoEJBPort" binding="tns:VinoEJBPortBinding">
<soap:address location="http://asus-tuf-a16:8080/VinoWEBService/VinoEJB"/>
</port>
</service>
</definitions>