Prove_Esame/Esame/EsameWebClient/xml-resources/web-service-references/EsameEJB/wsdl/EsameEJB.xml.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://esame/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://esame/" name="EsameWEBService">
<types>
<xsd:schema>
<xsd:import namespace="http://esame/" schemaLocation="http://asus-tuf-a16:8080/EsameWEBService/EsameEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="cercaStudentiSuperato">
<part name="parameters" element="tns:cercaStudentiSuperato"/>
</message>
<message name="cercaStudentiSuperatoResponse">
<part name="parameters" element="tns:cercaStudentiSuperatoResponse"/>
</message>
<message name="cercaStudenti">
<part name="parameters" element="tns:cercaStudenti"/>
</message>
<message name="cercaStudentiResponse">
<part name="parameters" element="tns:cercaStudentiResponse"/>
</message>
<message name="salvaEsame">
<part name="parameters" element="tns:salvaEsame"/>
</message>
<message name="salvaEsameResponse">
<part name="parameters" element="tns:salvaEsameResponse"/>
</message>
<message name="cercaAppelliStudentePresente">
<part name="parameters" element="tns:cercaAppelliStudentePresente"/>
</message>
<message name="cercaAppelliStudentePresenteResponse">
<part name="parameters" element="tns:cercaAppelliStudentePresenteResponse"/>
</message>
<message name="cercaAppelliStudenteSuperato">
<part name="parameters" element="tns:cercaAppelliStudenteSuperato"/>
</message>
<message name="cercaAppelliStudenteSuperatoResponse">
<part name="parameters" element="tns:cercaAppelliStudenteSuperatoResponse"/>
</message>
<message name="cancellaEsame">
<part name="parameters" element="tns:cancellaEsame"/>
</message>
<message name="cancellaEsameResponse">
<part name="parameters" element="tns:cancellaEsameResponse"/>
</message>
<message name="aggiornaEsame">
<part name="parameters" element="tns:aggiornaEsame"/>
</message>
<message name="aggiornaEsameResponse">
<part name="parameters" element="tns:aggiornaEsameResponse"/>
</message>
<portType name="EsameEJB">
<operation name="cercaStudentiSuperato">
<input wsam:Action="http://esame/EsameEJB/cercaStudentiSuperatoRequest" message="tns:cercaStudentiSuperato"/>
<output wsam:Action="http://esame/EsameEJB/cercaStudentiSuperatoResponse" message="tns:cercaStudentiSuperatoResponse"/>
</operation>
<operation name="cercaStudenti">
<input wsam:Action="http://esame/EsameEJB/cercaStudentiRequest" message="tns:cercaStudenti"/>
<output wsam:Action="http://esame/EsameEJB/cercaStudentiResponse" message="tns:cercaStudentiResponse"/>
</operation>
<operation name="salvaEsame">
<input wsam:Action="http://esame/EsameEJB/salvaEsameRequest" message="tns:salvaEsame"/>
<output wsam:Action="http://esame/EsameEJB/salvaEsameResponse" message="tns:salvaEsameResponse"/>
</operation>
<operation name="cercaAppelliStudentePresente">
<input wsam:Action="http://esame/EsameEJB/cercaAppelliStudentePresenteRequest" message="tns:cercaAppelliStudentePresente"/>
<output wsam:Action="http://esame/EsameEJB/cercaAppelliStudentePresenteResponse" message="tns:cercaAppelliStudentePresenteResponse"/>
</operation>
<operation name="cercaAppelliStudenteSuperato">
<input wsam:Action="http://esame/EsameEJB/cercaAppelliStudenteSuperatoRequest" message="tns:cercaAppelliStudenteSuperato"/>
<output wsam:Action="http://esame/EsameEJB/cercaAppelliStudenteSuperatoResponse" message="tns:cercaAppelliStudenteSuperatoResponse"/>
</operation>
<operation name="cancellaEsame">
<input wsam:Action="http://esame/EsameEJB/cancellaEsameRequest" message="tns:cancellaEsame"/>
<output wsam:Action="http://esame/EsameEJB/cancellaEsameResponse" message="tns:cancellaEsameResponse"/>
</operation>
<operation name="aggiornaEsame">
<input wsam:Action="http://esame/EsameEJB/aggiornaEsameRequest" message="tns:aggiornaEsame"/>
<output wsam:Action="http://esame/EsameEJB/aggiornaEsameResponse" message="tns:aggiornaEsameResponse"/>
</operation>
</portType>
<binding name="EsameEJBPortBinding" type="tns:EsameEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cercaStudentiSuperato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaStudenti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvaEsame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaAppelliStudentePresente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaAppelliStudenteSuperato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancellaEsame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaEsame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EsameWEBService">
<port name="EsameEJBPort" binding="tns:EsameEJBPortBinding">
<soap:address location="http://asus-tuf-a16:8080/EsameWEBService/EsameEJB"/>
</port>
</service>
</definitions>