Prove_Esame/Esame/EsameWebClient/xml-resources/web-service-references/EsameEJB/wsdl/asus-tuf-a16_8080/EsameWEBService/EsameEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><xs:schema xmlns:tns="http://esame/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://esame/">

<xs:element name="aggiornaEsame" type="tns:aggiornaEsame"/>

<xs:element name="aggiornaEsameResponse" type="tns:aggiornaEsameResponse"/>

<xs:element name="cancellaEsame" type="tns:cancellaEsame"/>

<xs:element name="cancellaEsameResponse" type="tns:cancellaEsameResponse"/>

<xs:element name="cercaAppelliStudentePresente" type="tns:cercaAppelliStudentePresente"/>

<xs:element name="cercaAppelliStudentePresenteResponse" type="tns:cercaAppelliStudentePresenteResponse"/>

<xs:element name="cercaAppelliStudenteSuperato" type="tns:cercaAppelliStudenteSuperato"/>

<xs:element name="cercaAppelliStudenteSuperatoResponse" type="tns:cercaAppelliStudenteSuperatoResponse"/>

<xs:element name="cercaStudenti" type="tns:cercaStudenti"/>

<xs:element name="cercaStudentiResponse" type="tns:cercaStudentiResponse"/>

<xs:element name="cercaStudentiSuperato" type="tns:cercaStudentiSuperato"/>

<xs:element name="cercaStudentiSuperatoResponse" type="tns:cercaStudentiSuperatoResponse"/>

<xs:element name="salvaEsame" type="tns:salvaEsame"/>

<xs:element name="salvaEsameResponse" type="tns:salvaEsameResponse"/>

<xs:complexType name="cercaStudentiSuperato">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cercaStudentiSuperatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:esame" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esame">
<xs:sequence>
<xs:element name="cognomeStudente" type="xs:string" minOccurs="0"/>
<xs:element name="dataAppello" type="tns:localDate" minOccurs="0"/>
<xs:element name="dataImmissione" type="tns:localDate" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="matricola" type="xs:string" minOccurs="0"/>
<xs:element name="nomeStudente" type="xs:string" minOccurs="0"/>
<xs:element name="voto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDate" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="salvaEsame">
<xs:sequence>
<xs:element name="arg0" type="tns:esame" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvaEsameResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cercaAppelliStudentePresente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaAppelliStudentePresenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:esame" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancellaEsame">
<xs:sequence>
<xs:element name="arg0" type="tns:esame" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancellaEsameResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cercaAppelliStudenteSuperato">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaAppelliStudenteSuperatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:esame" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiornaEsame">
<xs:sequence>
<xs:element name="arg0" type="tns:esame" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiornaEsameResponse">
<xs:sequence>
<xs:element name="return" type="tns:esame" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaStudenti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cercaStudentiResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>