Prove_Esame/Sanremo/SanremoWebClient/src/META-INF/wsdl/asus-tuf-a16_8080/SanremoWEBService/CanzoneEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><xs:schema xmlns:tns="http://canzone/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://canzone/">

<xs:element name="aggiornaCanzone" type="tns:aggiornaCanzone"/>

<xs:element name="aggiornaCanzoneResponse" type="tns:aggiornaCanzoneResponse"/>

<xs:element name="cercaPerAutore" type="tns:cercaPerAutore"/>

<xs:element name="cercaPerAutoreResponse" type="tns:cercaPerAutoreResponse"/>

<xs:element name="cercaPerCategoria" type="tns:cercaPerCategoria"/>

<xs:element name="cercaPerCategoriaResponse" type="tns:cercaPerCategoriaResponse"/>

<xs:element name="cercaPerID" type="tns:cercaPerID"/>

<xs:element name="cercaPerIDResponse" type="tns:cercaPerIDResponse"/>

<xs:element name="cercaPerVoto" type="tns:cercaPerVoto"/>

<xs:element name="cercaPerVotoResponse" type="tns:cercaPerVotoResponse"/>

<xs:element name="cercaTutti" type="tns:cercaTutti"/>

<xs:element name="cercaTuttiResponse" type="tns:cercaTuttiResponse"/>

<xs:element name="creaCanzone" type="tns:creaCanzone"/>

<xs:element name="creaCanzoneResponse" type="tns:creaCanzoneResponse"/>

<xs:element name="modificaVoti" type="tns:modificaVoti"/>

<xs:element name="modificaVotiResponse" type="tns:modificaVotiResponse"/>

<xs:element name="rimuoviCanzone" type="tns:rimuoviCanzone"/>

<xs:element name="rimuoviCanzoneResponse" type="tns:rimuoviCanzoneResponse"/>

<xs:complexType name="rimuoviCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="canzone">
<xs:sequence>
<xs:element name="cantato" type="xs:boolean"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="incipit" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="voti_ricevuti" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rimuoviCanzoneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="modificaVoti">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="voti" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaVotiResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerVoto">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerVotoResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiornaCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiornaCanzoneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="creaCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creaCanzoneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cercaPerAutore">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerAutoreResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaTutti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cercaTuttiResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerID">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>