Prove_Esame/AgenziaImmobiliare/AgenziaWebClient/xml-resources/web-service-references/AgenziaWebService/wsdl/AgenziaWebService.xml.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://agenzia/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://agenzia/" name="AgenziaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://agenzia/" schemaLocation="http://asus-tuf-a16:8080/AgenziaEJBService/AgenziaWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findByID">
<part name="parameters" element="tns:findByID"/>
</message>
<message name="findByIDResponse">
<part name="parameters" element="tns:findByIDResponse"/>
</message>
<message name="cercaPerAffittoCompresoAndCap">
<part name="parameters" element="tns:cercaPerAffittoCompresoAndCap"/>
</message>
<message name="cercaPerAffittoCompresoAndCapResponse">
<part name="parameters" element="tns:cercaPerAffittoCompresoAndCapResponse"/>
</message>
<message name="cercaTutti">
<part name="parameters" element="tns:cercaTutti"/>
</message>
<message name="cercaTuttiResponse">
<part name="parameters" element="tns:cercaTuttiResponse"/>
</message>
<message name="cercaCaseLibere">
<part name="parameters" element="tns:cercaCaseLibere"/>
</message>
<message name="cercaCaseLibereResponse">
<part name="parameters" element="tns:cercaCaseLibereResponse"/>
</message>
<message name="salvaCasa">
<part name="parameters" element="tns:salvaCasa"/>
</message>
<message name="salvaCasaResponse">
<part name="parameters" element="tns:salvaCasaResponse"/>
</message>
<message name="rimuoviCasa">
<part name="parameters" element="tns:rimuoviCasa"/>
</message>
<message name="rimuoviCasaResponse">
<part name="parameters" element="tns:rimuoviCasaResponse"/>
</message>
<message name="cercaPerAffitto">
<part name="parameters" element="tns:cercaPerAffitto"/>
</message>
<message name="cercaPerAffittoResponse">
<part name="parameters" element="tns:cercaPerAffittoResponse"/>
</message>
<message name="aggiornaCasa">
<part name="parameters" element="tns:aggiornaCasa"/>
</message>
<message name="aggiornaCasaResponse">
<part name="parameters" element="tns:aggiornaCasaResponse"/>
</message>
<portType name="AgenziaWebService">
<operation name="findByID">
<input wsam:Action="http://agenzia/AgenziaWebService/findByIDRequest" message="tns:findByID"/>
<output wsam:Action="http://agenzia/AgenziaWebService/findByIDResponse" message="tns:findByIDResponse"/>
</operation>
<operation name="cercaPerAffittoCompresoAndCap">
<input wsam:Action="http://agenzia/AgenziaWebService/cercaPerAffittoCompresoAndCapRequest" message="tns:cercaPerAffittoCompresoAndCap"/>
<output wsam:Action="http://agenzia/AgenziaWebService/cercaPerAffittoCompresoAndCapResponse" message="tns:cercaPerAffittoCompresoAndCapResponse"/>
</operation>
<operation name="cercaTutti">
<input wsam:Action="http://agenzia/AgenziaWebService/cercaTuttiRequest" message="tns:cercaTutti"/>
<output wsam:Action="http://agenzia/AgenziaWebService/cercaTuttiResponse" message="tns:cercaTuttiResponse"/>
</operation>
<operation name="cercaCaseLibere">
<input wsam:Action="http://agenzia/AgenziaWebService/cercaCaseLibereRequest" message="tns:cercaCaseLibere"/>
<output wsam:Action="http://agenzia/AgenziaWebService/cercaCaseLibereResponse" message="tns:cercaCaseLibereResponse"/>
</operation>
<operation name="salvaCasa">
<input wsam:Action="http://agenzia/AgenziaWebService/salvaCasaRequest" message="tns:salvaCasa"/>
<output wsam:Action="http://agenzia/AgenziaWebService/salvaCasaResponse" message="tns:salvaCasaResponse"/>
</operation>
<operation name="rimuoviCasa">
<input wsam:Action="http://agenzia/AgenziaWebService/rimuoviCasaRequest" message="tns:rimuoviCasa"/>
<output wsam:Action="http://agenzia/AgenziaWebService/rimuoviCasaResponse" message="tns:rimuoviCasaResponse"/>
</operation>
<operation name="cercaPerAffitto">
<input wsam:Action="http://agenzia/AgenziaWebService/cercaPerAffittoRequest" message="tns:cercaPerAffitto"/>
<output wsam:Action="http://agenzia/AgenziaWebService/cercaPerAffittoResponse" message="tns:cercaPerAffittoResponse"/>
</operation>
<operation name="aggiornaCasa">
<input wsam:Action="http://agenzia/AgenziaWebService/aggiornaCasaRequest" message="tns:aggiornaCasa"/>
<output wsam:Action="http://agenzia/AgenziaWebService/aggiornaCasaResponse" message="tns:aggiornaCasaResponse"/>
</operation>
</portType>
<binding name="AgenziaWebServicePortBinding" type="tns:AgenziaWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerAffittoCompresoAndCap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaTutti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaCaseLibere">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvaCasa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rimuoviCasa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerAffitto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaCasa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AgenziaEJBService">
<port name="AgenziaWebServicePort" binding="tns:AgenziaWebServicePortBinding">
<soap:address location="http://asus-tuf-a16:8080/AgenziaEJBService/AgenziaWebService"/>
</port>
</service>
</definitions>