Prove_Esame/Correntista/CorrentistaWebClient/xml-resources/web-service-references/CorrentistaEJB/wsdl/CorrentistaEJB.xml.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://banca/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://banca/" name="CorrentistaWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://banca/" schemaLocation="http://asus-tuf-a16:8080/CorrentistaWebService/CorrentistaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="aggiornaCorrentista">
<part name="parameters" element="tns:aggiornaCorrentista"/>
</message>
<message name="aggiornaCorrentistaResponse">
<part name="parameters" element="tns:aggiornaCorrentistaResponse"/>
</message>
<message name="getAllInsolventi">
<part name="parameters" element="tns:getAllInsolventi"/>
</message>
<message name="getAllInsolventiResponse">
<part name="parameters" element="tns:getAllInsolventiResponse"/>
</message>
<message name="eliminaCorrentista">
<part name="parameters" element="tns:eliminaCorrentista"/>
</message>
<message name="eliminaCorrentistaResponse">
<part name="parameters" element="tns:eliminaCorrentistaResponse"/>
</message>
<message name="salvaCorrentista">
<part name="parameters" element="tns:salvaCorrentista"/>
</message>
<message name="salvaCorrentistaResponse">
<part name="parameters" element="tns:salvaCorrentistaResponse"/>
</message>
<message name="getAllCorrentistiConOperazioni">
<part name="parameters" element="tns:getAllCorrentistiConOperazioni"/>
</message>
<message name="getAllCorrentistiConOperazioniResponse">
<part name="parameters" element="tns:getAllCorrentistiConOperazioniResponse"/>
</message>
<message name="transazione">
<part name="parameters" element="tns:transazione"/>
</message>
<message name="transazioneResponse">
<part name="parameters" element="tns:transazioneResponse"/>
</message>
<message name="correntistaConOperazioni">
<part name="parameters" element="tns:correntistaConOperazioni"/>
</message>
<message name="correntistaConOperazioniResponse">
<part name="parameters" element="tns:correntistaConOperazioniResponse"/>
</message>
<portType name="CorrentistaEJB">
<operation name="find">
<input wsam:Action="http://banca/CorrentistaEJB/findRequest" message="tns:find"/>
<output wsam:Action="http://banca/CorrentistaEJB/findResponse" message="tns:findResponse"/>
</operation>
<operation name="aggiornaCorrentista">
<input wsam:Action="http://banca/CorrentistaEJB/aggiornaCorrentistaRequest" message="tns:aggiornaCorrentista"/>
<output wsam:Action="http://banca/CorrentistaEJB/aggiornaCorrentistaResponse" message="tns:aggiornaCorrentistaResponse"/>
</operation>
<operation name="getAllInsolventi">
<input wsam:Action="http://banca/CorrentistaEJB/getAllInsolventiRequest" message="tns:getAllInsolventi"/>
<output wsam:Action="http://banca/CorrentistaEJB/getAllInsolventiResponse" message="tns:getAllInsolventiResponse"/>
</operation>
<operation name="eliminaCorrentista">
<input wsam:Action="http://banca/CorrentistaEJB/eliminaCorrentistaRequest" message="tns:eliminaCorrentista"/>
<output wsam:Action="http://banca/CorrentistaEJB/eliminaCorrentistaResponse" message="tns:eliminaCorrentistaResponse"/>
</operation>
<operation name="salvaCorrentista">
<input wsam:Action="http://banca/CorrentistaEJB/salvaCorrentistaRequest" message="tns:salvaCorrentista"/>
<output wsam:Action="http://banca/CorrentistaEJB/salvaCorrentistaResponse" message="tns:salvaCorrentistaResponse"/>
</operation>
<operation name="getAllCorrentistiConOperazioni">
<input wsam:Action="http://banca/CorrentistaEJB/getAllCorrentistiConOperazioniRequest" message="tns:getAllCorrentistiConOperazioni"/>
<output wsam:Action="http://banca/CorrentistaEJB/getAllCorrentistiConOperazioniResponse" message="tns:getAllCorrentistiConOperazioniResponse"/>
</operation>
<operation name="transazione">
<input wsam:Action="http://banca/CorrentistaEJB/transazioneRequest" message="tns:transazione"/>
<output wsam:Action="http://banca/CorrentistaEJB/transazioneResponse" message="tns:transazioneResponse"/>
</operation>
<operation name="correntistaConOperazioni">
<input wsam:Action="http://banca/CorrentistaEJB/correntistaConOperazioniRequest" message="tns:correntistaConOperazioni"/>
<output wsam:Action="http://banca/CorrentistaEJB/correntistaConOperazioniResponse" message="tns:correntistaConOperazioniResponse"/>
</operation>
</portType>
<binding name="CorrentistaEJBPortBinding" type="tns:CorrentistaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaCorrentista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllInsolventi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaCorrentista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvaCorrentista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCorrentistiConOperazioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correntistaConOperazioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CorrentistaWebService">
<port name="CorrentistaEJBPort" binding="tns:CorrentistaEJBPortBinding">
<soap:address location="http://asus-tuf-a16:8080/CorrentistaWebService/CorrentistaEJB"/>
</port>
</service>
</definitions>